* {
  font-weight: var(--fw-regular);
}

body {
  font-family: var(--ff-body);
  font-size: var(--step-0);
  color: var(--clr-text);
  background-color: var(--clr-bg);
  text-transform: uppercase;
  overflow: hidden;
}

.flow {
  --flow-space: 0.75rem;
}

.flow>*+* {
  margin-top: 0.75rem;
  margin-top: var(--flow-space);
}

#root {
  min-height: 100svh;
}

.option__buttons {
  text-align: center;
  margin-bottom: var(--spacer-s);
}

.option__buttons button:nth-of-type(even) {
  margin-inline: var(--spacer-xs);
}

.option__btn:hover {
  background-color: var(--clr-green);
  color: var(--clr-bg);
}

.clear__btn {
  background-color: var(--clr-red);
  color: var(--clr-bg);
}

.btn {
  border: 1px solid black;
  padding-inline: var(--spacer-s);
  text-transform: uppercase;
  border-radius: 999px;
}

header {
  display: flex;
  justify-content: center;
}

.game__container {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  padding-inline: 10rem;
  min-height: calc(100svh - 1rem);
}

.game__main {
  width: 33%;
  order: 2;
}

.game__sidebar-left {
  width: 33%;
  order: 1;
}

.game__sidebar-right {
  width: 33%;
  order: 3;
  text-align: right;
}

.sidebar__right_score {
  display: flex;
  flex-direction: row-reverse;
  gap: 0rem 2rem;
}

.streak {
  text-align: center;
}

.result {
  text-align: center;
}

.game__heading {
  font-size: var(--step-4);
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
}

.history {
  margin-top: var(--spacer-s);
}

.history__ul {
  overflow: hidden;
  max-height: 70vh;
  overflow-y: scroll;
}

.winner::before {
  content: "";
  width: 0.25em;
  height: 0.25em;
  border: 4px solid rgb(1, 230, 100);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
    0px 0px 4px 0px rgba(1, 230, 100);
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.34em;
  transition: background-color 0.2s ease;
}

li {
  list-style-type: none;
}